<h2 mat-dialog-title>CRUD application for manage countries</h2>
<mat-dialog-content class="mat-typography">
    <h3>App made by Malindu Panchala</h3>
    <p>This app was made for the practical exam from Pearson lanka for applying to an internship</p>
    <p>The frontend of the application is developed with Angular framework and Material Design library and the backend
        is developed with Java spring boot framework</p>
    <p>API base url is "http://localhost:8080/rest/v2/" or "http://127.0.0.1:8080/rest/v2/countries/" and
        POST,GET,PUT,DELETE can be requested with "countries/" suffix to the base url</p>
    <p>Source code of this app can be found in github following <a href="https://github.com/MalinduPanchala/Pearson-practical-exam.git" target="_blank">this link</a></p><br>
    <h3>Contact me with <a href="mailto:malindupanchala@gmail.com">malindupanchala@gmail.com</a> or 0702119726</h3>

    <p>Thank you!</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>